@model SingleOrderViewModel
@{
    ViewData["Title"] = "Check out";
}
<div class="container">
    <div class="signup-form">

        <h2>Checkout @Model.ProductName</h2>

    <form method="post" asp-controller="home" asp-action="preparesingleorder">

        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_YourPublishAbleKey"
                data-amount="@ViewBag.PaymentAmount"
                data-name="[My Company Name]"
                data-description="10 rubberducks for 1$ each"
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-locale="en"
                data-zip-code="true"
                data-label="Pay 10$">
        </script>

        <div class="row">
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="ProductsId" />

            <div class="col-md-4">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" />
                <span asp-validation-for="FirstName" ></span>
            </div>

            <div class="col-md-4">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" />
                <span asp-validation-for="LastName"></span>

            </div>
            <div class="col-md-4">
                <label asp-for="Address"></label>
                <input asp-for="Address" />
                <span asp-validation-for="Address" ></span>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Apartment"></label>
                <input asp-for="Apartment" />
                <span asp-validation-for="Apartment" ></span>

            </div>

            <div class="col-md-4">
                <label asp-for="City"></label>
                <input asp-for="City" />
                <span asp-validation-for="City" ></span>
            </div>

            <div class="col-md-4">
                <label asp-for="Country"></label>
                <input asp-for="Country" />
                <span asp-validation-for="Country" ></span>
            </div>
        </div>
            
        <div class="row">

            <div class="col-md-6">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" />
                <span asp-validation-for="PhoneNumber" ></span>

            </div>

            <div class="col-md-6">
                <label asp-for="PostalCode"></label>
                <input asp-for="PostalCode" />
                <span asp-validation-for="PostalCode" ></span>

            </div>
  
        </div>

        <hr />

        <button type="submit" class="btn btn-default">Checkout</button>
    </form>

    </div>
</div>
