@model Product
@{
    ViewData["Title"] = "Specific Product";
}

<div class="col-sm-9 padding-right">
    <div class="product-details">
        <!--product-details-->
        <div class="col-sm-5">
            <div class="view-product">
                <img src="/uploads/@Model.Image" class="img-fluid" alt="" />
                
            </div>
            <div id="similar-product" class="carousel slide" data-ride="carousel">
                <!-- Controls -->
                <a class="left item-control" href="#similar-product" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="right item-control" href="#similar-product" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>

        </div>
        <div class="col-sm-7">
            <div class="product-information">
                <!--/product-information-->
                <h3>@Model.Name</h3>
                <h2>@Model.Description</h2>
                <span>
                    <span>£@Model.Price</span>
                    <a class="btn btn-fefault cart" asp-controller="Cart" asp-action="create" asp-route-productId="@Model.Id">
                        <i class="fa fa-shopping-cart"></i>
                        Add to cart
                    </a>
                </span>
               
            </div><!--/product-information-->
        </div>
    </div><!--/product-details-->

 

</div>