@inject SignInManager<BaseUser> signinManager
@inject UserManager<BaseUser> userManager
@{ 
    var user = await userManager.GetUserAsync(User);
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>Health Herb</title>
    <!--bootstrap-->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/fontawesome-iconpicker/css/fontawesome-iconpicker.css" rel="stylesheet" />
    <link href="~/css/Dashboard-Style-responsive.css" rel="stylesheet" />
    <link href="~/css/Dashboard-Table-responsive.css" rel="stylesheet" />
    <link href="~/css/Dashboard-Style.css" rel="stylesheet" asp-append-version="true"/>
</head>
<body>
    <section id="container">
        <!--header start-->
        <header class="header black-bg">

            <div class="sidebar-toggle-box">
                <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
            </div>

            <!--logo start-->
            <a asp-controller="setting" asp-action="index" class="logo"><b>Health <span>Herb</span></b></a>
            <!--logo end-->

            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">
                </ul>
                <!--  notification end -->
            </div>
            <div class="top-menu">
                @if (signinManager.IsSignedIn(User))
                {
                    <ul class="nav pull-right top-menu">
                        <li><a class="logout" id="logout-action" asp-controller="account" asp-action="logout">Logout</a></li>
                    </ul>
                }
            </div>
        </header>
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion">
                    <h5 style="padding-left:20px">@user.FullName</h5>

                    <li class="mt">
                        <a asp-controller="setting" asp-action="index">
                            <i class="fa fa-desktop"></i>
                            <span>Monitor</span>
                        </a>
                    </li>

                    <li class="mt">
                        <a asp-controller="product" asp-action="create">
                            <i class="fa fa-plus-square"></i>
                            <span>Create product</span>
                        </a>
                    </li>

                    <li class="mt">
                        <a asp-controller="product" asp-action="list">
                            <i class="fa fa-th-list"></i>
                            <span>Product list</span>
                        </a>
                    </li>

                    <li class="mt">
                        <a asp-controller="coupon" asp-action="create">
                            <i class="fa fa-gift"></i>
                            <span>Create Coupon</span>
                        </a>
                    </li>

                    <li class="mt">
                        <a asp-controller="coupon" asp-action="list">
                            <i class="fa fa-th-list"></i>
                            <span>Coupon List</span>
                        </a>
                    </li>

                    <li class="mt">
                        <a asp-controller="Setting" asp-action="PaymentSetting">
                            <i class="fa fa-credit-card"></i>
                            <span>Payment setting</span>
                        </a>
                    </li>

                    <li class="mt">
                        <a asp-controller="shippingprice" asp-action="list">
                            <i class="fa fa-truck"></i>
                            <span>Shipping setting</span>
                        </a>
                    </li>

                    <li class="mt">
                        <a asp-controller="Order" asp-action="index">
                            <i class="fa fa-shopping-cart"></i>
                            <span>Orders </span>
                        </a>
                    </li>

                    <li class="mt">
                        <a asp-controller="home" asp-action="index">
                            <i class="fa fa-home"></i>
                            <span>Home</span>
                        </a>
                    </li>
                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--header end-->
        <section id="main-content">
            <section class="wrapper">
                @RenderBody()
            </section>
        </section>
    </section>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/fontawesome-iconpicker/js/fontawesome-iconpicker.js"></script>
    <script src="~/lib/gritter/js/jquery.gritter.js"></script>
    <script src="~/lib/jquery.nicescroll.js"></script>
    <script src="~/lib/jquery.scrollTo.min.js"></script>
    <script src="~/lib/jquery.sparkline.js"></script>
    <script src="~/lib/common-scripts.js"></script>
    <script src="~/lib/gritter-conf.js"></script>
    <script src="~/js/deleteItem.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
