
<div class="pt-2 pb-2">
    @if (TempData.ContainsKey("Success"))
    {
        <div class="alert alert-success">
            <i class="fa fa-check-square-o"></i> @TempData["Success"]
        </div>
    }

    @if (TempData.ContainsKey("Error"))
    {
        <div class="alert alert-danger">
            <i class="fa fa-exclamation-triangle"></i> @TempData["Error"]
        </div>
    }
    @if (TempData.ContainsKey("Invalid"))
    {
        <div class="alert alert-danger">
            <i class="fa fa-exclamation-triangle"></i> @TempData["Invalid"]
        </div>
    }
</div>
