@inject SignInManager<BaseUser> signinManager
@inject UserManager<BaseUser> userManager
@{ 
    var user = await userManager.GetUserAsync(User);
    bool isLogged = signinManager.IsSignedIn(User);
    bool isAdmin = User.IsInRole(Role.Admin);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/prettyPhoto.css" rel="stylesheet">
    <link href="/css/price-range.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <title>@ViewData["Title"] - HealthHerb</title>
</head>
<body>
    <header id="header">
        <!--header-->
        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-md-4 clearfix">
                        <div class="logo pull-left">
                            <a asp-controller="home" asp-action="index" ><img src="~/images/logo.png" style="width:60px" /></a>
                        </div>
                    </div>
                    <div class="col-md-8 clearfix">
                        <div class="shop-menu clearfix pull-right">
                            <ul class="nav navbar-nav">
                                <li><a asp-controller="home" asp-action="index" ><i class="fa fa-home"></i> Home</a></li>
                                <li><a asp-controller="cart" asp-action="index" ><i class="fa fa-shopping-cart"></i> Cart</a></li>
                                @if (!isLogged)
                                {
                                    <li><a asp-controller="account" asp-action="login"><i class="fa fa-lock"></i> Login</a></li>
                                    <li><a asp-controller="account" asp-action="register"><i class="fa fa-registered"></i> register</a></li>
                                }
                                @if (isLogged)
                                {
                                    <li><a asp-controller="account" asp-action="logout"><i class="fa fa-lock"></i> Log out</a></li>
                                }
                                @if (isLogged && isAdmin)
                                {
                                    <li>
                                        <a asp-controller="product" asp-action="list">
                                            <i class="fa fa-dashboard"></i> Dashboard
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
  
    @RenderBody()
    @RenderSection("Scripts", required: false)
</body>
</html>
