@model ProductViewModel
@{
    Layout = "_AdminDashboard";
    ViewData["Title"] = "Edit Product";
    int idx = 0;
}

<partial name="~/Views/Shared/_Alert.cshtml" />

<div class="row mt">
    <div class="col-lg-12">
        <h4><i class="fa fa-angle-right"></i> Edit Product</h4>
        <div class="form-panel">
            <form class="form-horizontal style-form" enctype="multipart/form-data" method="post" asp-controller="product" asp-action="edit">
                <input type="hidden" asp-for="CurrentImages" />
                <div class="form-group ">
                    <label class="col-lg-2 control-label" asp-for="Name"></label>
                    <div class="col-lg-10">
                        <input placeholder="Product name" asp-for="Name" class="form-control">
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>
                </div>

                <div class="form-group ">
                    <label class="col-lg-2 control-label" asp-for="Quantity"></label>
                    <div class="col-lg-10">
                        <input placeholder="Product quantity" asp-for="Quantity" class="form-control">
                        <span class="text-danger" asp-validation-for="Quantity"></span>
                    </div>
                </div>

                <div class="form-group ">
                    <label class="col-lg-2 control-label" asp-for="Price"></label>
                    <div class="col-lg-10">
                        <input placeholder="Product Price" asp-for="Price" class="form-control">
                        <span class="text-danger" asp-validation-for="Price"></span>
                    </div>
                </div>

                <div class="form-group ">
                    <label class="col-lg-2 control-label" asp-for="Description"></label>
                    <div class="col-lg-10">
                        <textarea placeholder="Product Description" asp-for="Description" class="form-control"></textarea>
                        <span class="text-danger" asp-validation-for="Description"></span>
                    </div>
                </div>

                <div class="form-group ">
                    <label class="col-lg-2 control-label" asp-for="Discount"></label>
                    <div class="col-lg-10">
                        <input placeholder="discount of product by salary" asp-for="Discount" class="form-control">
                        <span class="text-danger" asp-validation-for="Discount"></span>
                    </div>
                </div>
                <div class="form-group ">
                    <label class="col-lg-2 control-label" asp-for="Appear"></label>
                    <div class="col-lg-10">
                        <input placeholder="discount of product by salary" asp-for="Appear" class="form-control">
                        <span class="text-danger" asp-validation-for="Appear"></span>
                    </div>
                </div>
                <div class="form-group ">
                    <label class="col-lg-2 control-label" asp-for="Images"></label>
                    <div class="col-lg-10">
                        <input placeholder="discount of product by salary" asp-for="Images" class="form-control">
                        <span class="text-danger" asp-validation-for="Images"></span>
                    </div>
                </div>
                <div class="row">
                    @foreach (var image in Model.CurrentImages)
                    {
                        <div class="col-md-6" style="margin-bottom:25px" id="@image.ImageId">
                            <img src="~/uploads/@image.CurrentImage" style="width:200px" class="img-fluid img-thumbnail" />
                            <button data-id="@image.ImageId" class="del-img btn btn-danger" type="button"><i class="fa fa-trash-o"></i></button>
                        </div>
                    }
                </div>
                <button class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>

        $('.del-img').on('click', function () {
            var id = $(this).attr('data-id');
            $.ajax({
                method: 'POST',
                url: '/product/deletephoto',
                data: {
                    id
                },
                success: function () {
                    $('#' + id).remove();
                },
                error: function () {
                    alert('error');
                }
            })
        });
    </script>
}

